.container
{
    background: #e96443;  
background: -webkit-linear-gradient(to right, #a335aa, #9e2b2b);  
background: linear-gradient(to right, #904e95, #e96443); 
}


#start-btn
{
    width: 40%;
} 
#camera
{
    width:390px;
    height: 260px;
    border:15px solid rgb(174, 227, 60);
}
#logo_img
{
    width: 120px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}

.section
{
    background: #00F260;  
background: -webkit-linear-gradient(to right, #c8e605, #00F260); 
background: linear-gradient(to right, #c8e605, #00F260);

}

.h1
{
    font-family: 'Times New Roman', Times, serif;
}